<!--CONTEUDO PRINCIPAL-->
<main id="conteudo">
		<div class="esquerda">
			<div class="conteudoEsquerda">
				<h2>
					Busca
				</h2>
				<div class="seletorFile">
					<div class="seletor">
						<p>Ciclo</p>
						<select name="" id=""><option value="">MB2(FY23)</option></select>
					</div>
					<div class="inputFile">
						<button type="submit">&#128459; Exportar </button>
					</div>
				</div>
			</div>
			<div class="buscaDetalhamento">
				 <div class="inputDetalhamento">
					<input type="text" placeholder="Buscar">
				 </div>
				 <div class="tiposDetalhamentos">
					<p>BU</p>
					<p>Frente</p>
					<p>Nome da Meta</p>
					<p>Peso</p>
					<p>Meta</p>
					<p>Submeta</p>
				 </div>
			</div>
			<div class="nomesDetalhamentos">
				<table class="nomesDetalhamentos" >
					<tr>
						<td>CROSS</td>
					</tr>
					<tr class="cinza">
						<td>CROSS</td>
					</tr>
					<tr>
						<td>CROSS</td>
					</tr>
					<tr class="cinza">
						<td>CROSS</td>
					</tr>
				</table>
			</div>
			<div class="paginacao">
				<div class="setas">
            <p><span class="material-symbols-outlined">keyboard_double_arrow_left</span></p>
            <p><span class="material-symbols-outlined">chevron_left</span></p>
            <p class="numeracao">1</p>
            <p><span class="material-symbols-outlined">chevron_right</span></p>
            <p><span class="material-symbols-outlined">keyboard_double_arrow_right</span></p>
				</div>
			</div>
		</div>
		<div class="ConteudoDireita">
			<div class="conteudodireitadentro">
			<h2>Detalhamento Frentes Estratégicas</h2>
			<div class="primeiraLinha">
				<select name="" id=""><option value="">BU</option></select>
				<select name="" id=""><option value="">Frente</option></select>
				<input type="text" placeholder="Resultado Chave da Frente">
			</div>
			<div class="segundaLinha">
				<select name="" id=""><option value="">Peso</option></select>
				<select name="" id=""><option value="">Polaridade</option></select>
				<select name="" id=""><option value="">Medida</option></select>
			</div>
			<div class="terceiraLinha">
				<input type="text=" placeholder="Baseline">
				<input type="text" placeholder="Dono KR">
			</div>
			<div class="quartaLinha">
				<textarea name="" id="" cols="48" rows="2" placeholder="Detalhamento"></textarea>
				<textarea name="" id="" cols="48" rows="2" placeholder="Memória de Cálculo"></textarea>
			</div>
			<div class="quintaLinha">
				<h3>Objetivo e Meta</h3>
			</div>
			<div class="sextaLinha">
				<input type="text" placeholder="Meta do Ciclo">
				<input type="text" placeholder="Submeta">
				<input type="text" placeholder="% de Submeta">
			</div>
			<div class="decimaLinha">
				<h3>Objetivo e Meta</h3>
			</div>
			<div class="decimaPrimeira">
				<input placeholder="Data de Corte" type="text" onfocus="(this.type=('date'))">
				<input placeholder="Data de Corte" type="text" onfocus="(this.type=('date'))">
				<button>Adicionar</button>
			</div>
			<div class="decimaSegunda">
				<div class="mesAno">
					<p>Mes/Ano</p>
				</div>
				<div class="meta">
					<p></p>
				</div>
				<div class="alcancado">
					<p></p>
				</div>
			</div>
			<div class="decimaTerceira">
				<p>Nenhum registro encontrado</p>
			</div>
			<div class="decimaQuarta">
					<div class="setasDireita">
						<p></p>
						<p></p>
						<p class="numeracaoDireita">1</p>
						<p></p>
						<p></p>
					</div>
			</div>
			<div class="decimaQuinta">
				<button>&#128190;Salvar</button>
				<button>&#128459;Novo</button>
			</div>
		</div>
		</div>
	</main>
