<!--HEADER-->
<header>
  <div class="btnAbre" ><img src="../../assets/img/botao-de-menu-de-tres-linhas-horizontais.png" class="imagen" alt="" (click)="abrirMenu()"></div>
  <div class="iconesHeader">
    <div class="config">
      <img src="../../assets/img/configuracao (1).png" alt="">
    </div>
    <div class="perfil">
      <img src="../../assets/img/MicrosoftTeams-image.png" alt="">
    </div>
  </div>
</header>
<!--NAV-->
<nav id="menuLateral" >
		<ul>
			<li><a routerLink=""><span><img src="../../../assets/img/silhueta-de-icone-de-casa.png"></span>Home</a></li>
			<li><a routerLink="/ciclos"> <span> <img src="../../../assets/img/configuracao (2).png" alt=""></span>Ciclos</a></li>
			<li><a routerLink="/unidadesDeNegocio"><span> <img src="../../../assets/img/configuracao (2).png" alt=""></span>Unidade de Negócio</a></li>
			<li><a routerLink="/frenteEstrategica"><span> <img src="../../../assets/img/configuracao (2).png" alt=""></span>Frente Estratégica</a></li>
			<li><a routerLink="/detalhamentoFrenteEstrategica"><span> <img src="../../../assets/img/configuracao (2).png" alt=""></span>Detalhamento Frentes Estratégicas</a></li>
			<li><a><span> <img src="../../../assets/img/configuracao (2).png" alt=""></span>RMR</a></li>
		</ul>
	</nav>
